.card{
    margin-left: 0;
    margin-right: 0;
    width: 18rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    box-shadow: (0 0 #0000),( 0 0 #0000),(0 1px 3px 0 #9ca3af,0 1px 2px -1px #9ca3af);
}
.card__img{
    object-fit: cover;
    overflow: hidden;
    height: 12rem;
    width: 100%;
    max-width: 100%;
    box-shadow: (0 0 #0000),( 0 0 #0000),(0 1px 3px 0 rgb(0 0 0 / .1),0 1px 2px -1px rgb(0 0 0 / .1));
}
.card__content{
    padding-bottom: 3rem;
    padding-top: 2rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.card__content h2{
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.card__content p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card__content p span{
    font-weight: 600;
}