*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
header{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}
header p{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.shadow{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}